
/*----------------------- Login Component ----------------------------|
|--------------------------------------------------------------------*/
.ConfirmAccount__wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}
.ConfirmAccount__box
{
    display: flex;
    flex-direction: column;
    background-color: #d7edf7;
    box-shadow: 1px 1px 5px black;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;    
    margin: auto;
    overflow: hidden;
}

.ConfirmAccount__header {
    display: flex;
    background-color: white;
}

.ConfirmAccount__body,
.ConfirmAccount__footer
{
    padding: 10px;
}

.Logo__imgBox.mj-logo > img,
.Logo__imgBox.ijoven-logo > img {
    display: block;
    width: 100%;
    height: auto;
}

.Logo__imgBox.ijoven-logo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3E200;
}

.Logo__imgBox.mj-logo > img {
    padding: 10px 15px;
}

.ConfirmAccount__container {
    width: 100%;
    max-width: 400px;
    min-height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.ConfirmAccount__title {
    text-align: center;
    padding: 10px 0;
}

.ConfirmAccount__title > h1 {
    font-size: 1.5em;
}
.ConfirmAccount__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

label.ConfirmAccount__formUserInput,
label.ConfirmAccount__formPassInput
{
    display: flex;
    margin-bottom: .5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
}

.ConfirmAccount__form > label > svg
{
    margin: 5px;
    font-size: 20px;
    color: cadetblue;
}
.ConfirmAccount__form > button
{
    margin: 20px 0 0 0;
    display: block;
}

.ConfirmAccount__footer p {
    text-align: center;
}