.queries_box {
    width: 100%;
    max-width: 50%;
    min-width: 300px;
}
.queries_inputs {
    display: flex;
    border: 1px solid #989090;
    border-radius: 5px;
    overflow: hidden;                
}
.queries_inputs > input,
.queries_inputs > button{
    border: unset;
    outline: unset;
}
.queries_inputs > input {        
    padding: 5px;
    width: 100%;
}
.queries_inputs > button {
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
}
.queries_inputs > button:hover{
    opacity: 0.8;
}
.queries_filters {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 360px;
    margin: auto;
}
.search_container {
    display: flex;
    min-width: 300px;
    margin-top: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search_container .result_box {
    width: 100%;
    max-width: 50%;
    padding: 0 10px;
}
.search_container .result_box > label {
    width: 100%;
    position: relative;        
}
.search_container .result_box > label > span {
    position: absolute;
    top: -11px;
    left: 11px;
    background-color: white;
    padding: 0 5px;
    z-index: 1;
}
.search_container .reg_input_result {
    width: 100%;
    padding: 5px;
    /* border-radius: 5px; */
    outline: unset;
    border: 1px solid #989090;
    cursor: no-drop;
    text-align: center;
    font-style: italic;
}
div.visit_details_container > div > div {
    width: 100%;
    padding: 0 5px;
}
.spinner_box {
    position: absolute;
    background-color: #fffffff0;
    width: 100%;
    max-width: 108px;
    height: 128px;
    top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 769px){
    .queries_box,
    .result_box{
        max-width: 100% !important;
    }
}
.textarea_box.form-group {
    width: 100%;
    max-width: 70%;
}
.textarea_box textarea {
    width: 100%;
    min-height: 79px;
    max-height: 120px;
}
.submit_box.form-group {
    width: 100%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visit_details_container .gun_box {
    width: 100%;
    max-width: 25%;
}
.visit_details_container .access_box {
    width: 100%;
    max-width: 15%;
}
.visit_details_container .dpto_box {
    width: 100%;
    max-width: 30%;
}
.visit_details_container .contact_box {
    width: 100%;
    max-width: 30%;
}
.cv_register_visit_content label {
    font-weight: bold;
    font-size: 12px;
}
.chosen-container{
    width: 100% !important;        
    font-size: inherit;
}
.chosen-container .chosen-single{
    border-radius: 3px;
    border: 1px solid #ced4da;
    height: 38px;
    background: unset;
}
.chosen-container .chosen-single > span{
    padding: 5px;
}

/* Photo Component Style*/

.photo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 189px;
}

.photo_box.photo_pic_box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    z-index: 1;
    position: relative;
    max-height: 252px;
}