
/*----------------------- Login Change Password Component --------------------|
|--------------------------------------------------------------------*/

.Login__container{
    min-height: 286px;
}

.LoginChangePassword__title > h1
{
    font-size: 1.5em;
    text-align: center;
}

.LoginChangePassword__box
{
    padding: 10px;
    margin-top: 20px;
}

.LoginChangePassword__title
{
    margin: 20px 0;
}

form.LoginChangePassword__body.LoginChangePassword__form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label.LoginChangePassword__formUserInput,
label.LoginChangePassword__formPassInput
{
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
}

.LoginChangePassword__form > label > svg
{
    margin: 5px;
    font-size: 20px;
    color: cadetblue;
}

.LoginChangePassword__footer
{
    text-align: center;
    margin: 20px;
}