@font-face {
    font-family: Roboto;
    src: url('./../webfonts/Roboto-Regular.ttf');
}

.vanish{
    opacity: 0 !important;
    transition: 0.3s !important;
}

.spinner_box {
    position: absolute;
    background-color: #fffffff0;
    width: 100%;
    max-width: 300px;
    height: 129px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: initial;
}

/* beca-juventud module style */
.module_page{    
    overflow-x: hidden;
    font-family: Roboto;
}

.section{
    width: 100%;
    background-color: white;
    position: relative;
}

section.landing.landing_section.section {
    background-color: white;
    /* width: calc(100vw - 51px); */
    /* height: calc(100vh - 27px); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing_wrapper span.icon{
    font-size: 7em;
}

.landing_wrapper span.icon,
.landing_wrapper > h1
{
    color: #38587f;
}

/* menu_sidebar */

.page_wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
}

.page_wrapper .menu_sidebar{
    background-color: #6a6868;
    width: 100%;
    max-width: 51px;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    min-height: calc(100vh - 27px);
}

.page_wrapper .menu_sidebar.expanded{
    max-width: 300px;
    position: relative;
}

.expand_btn {
    border: unset;
    background-color: unset;
    text-align: right;
    padding-right: 10px;
    color: white;
    width: 100%;
}

.menu_icon{
    color: #50aeff;
}

.menu_icon, .sub_menu_icon{
    width: 30px;
    /* height: 30px; */
    display: inline-block;
    text-align: center;
    margin: 0;
}
.menu_sidebar .menu li a,
.menu_sidebar .sub_menu li a{
    width: 100%;
    min-width: 300px;
    text-align: left;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    text-decoration: none;
}

.menu_sidebar .menu > li a:hover{
    background-color: black;
    color: yellow;
}

.menu_sidebar .menu > li > a:after{
    content: "\f105";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
}

.menu_sidebar.expanded .menu > li > a.collapsed:after,
.menu_sidebar.expanded .menu > li.closed > a:after
 {
    transform: rotate(0deg);
    transition: 0.3s;
}

.menu_sidebar .menu > li > a:after{
    transform: rotate(90deg);    
    transition: 0.3s;
}

.menu_title_text{
    font-weight: bold;
    padding-left: 12px;
}

.sub_menu_text {
    padding-left: 24px;
}

.menu_sidebar .sub_menu > li > a.selected{
    color: yellow;
    background-color: black;
}

.section_wrapper {
    display: flex;
    padding: 10px;
    background-color: white;
    position: relative;
    width: 100vw;
    justify-content: center;
}

/*----------- notificacion_box_content */

.notification_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(100% - 10px);
    height: auto;
}

.notificacion_box_content{
    margin-left: 9px;
    max-height: 33px;
    max-width: 33px;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    /* top: 10px; */
    /* right: 10px; */
    padding: 3px;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0;
    display: flex;
    flex-direction: column;
}
.notificacion_box_content.expanding{
    max-width: 100%;
    transition: 0.3s;
    opacity: 1;
    display: flex;
}

.notificacion_box_content.expanded{
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
    opacity: 0.9;
    box-shadow: 1px 2px 3px 1px #c9b7b7;
    display: flex;
    margin-bottom: 10px;
}

.notificacion_box_content .content_box{
    display: flex;
    position: relative;
    justify-content: flex-end;
    min-width: 27px;
    min-height: 27px;
}
.notificacion_box_content.expanding .content_box .message{    
    margin-right: 27px;
}
.notificacion_box_content.expanded .content_box .message{
    color: #fff;
    margin-right: 27px;
}
.notificacion_box_content .content_box .message{
    padding: 5px;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
    transition: 0.3s;
    display: block;
    color: #ffda00;
}
.notificacion_box_content .content_box .notification_icon{
    width: 27px;
    height: 27px;
    color: #f39d0c;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
}
/*----------- new student */

.student_new_section{

}

.student_new_section .student_new_wrapper{
    width: 100%;
    position: relative;
}
.student_new_section .student_new_wrapper .section_title_wrap{
    display: flex;
    width: 100%;
}
.student_new_section .section_title_box{
    width: 100%;
    max-width: 100%;
    color: #6a6868;
}
.section_title_box h1{
    
font-size: 18px;
}
.student_new_section .title_icon{
    
}
.blue_title{
    
background-color: #50aeff;
    
color: white;
    
font-weight: bold;
    
border: unset;
    
margin-bottom: 10px;
}

.bcmj_new_student_form{    
    display: flex;    
    flex-wrap: wrap;
}

.bcmj_new_student_form .image_box{
    margin: auto;
    width: 100%;
    max-width: 114px;
    height: 132px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #50aeff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 6em;
    color: #50aeff;
    overflow: hidden;
    position: relative;
}

.student_photo{
    margin: auto;
    width: 100%;
    max-width: 114px;
    display: block;
}
.student_photo span{
    width: 100%;
    max-width: calc(114px - 30px);
    margin-bottom: 10px;
    padding: 6px 0px;
}

.form-group{
    margin-bottom: 10px;
}

.form-group.middle_field{
    max-width: 49%;
}
.form-group.triple_field{
    max-width: 32%;
}
.bcmj_new_student_form .temp_photo_wrap{
    display: flex;
    width:114px;
    justify-content: space-between;
    margin: auto;
}
.bcmj_new_student_form .temp_photo_wrap .erase_temp_photo_btn{width: 36px;height: 38px;padding: 0;}
.bcmj_new_student_form .image_box .image_picture{
    width: 100%;
    height: 100%;
}

.bcmj_new_student_form .image_box .image_picture > img{
    height: 100%;
    font-size: 12px;
    width: 100%;
}

.bcmj_new_student_form .image_box .image_icon{
    position: relative;
}

.btn_student_new_register{    
    width: 100%;    
    max-width: 32%;    
    height: 38px;
}
.bcmj_spinner_box {
    position: relative;
    top: -4px;
}

@media screen and (max-width: 769px){
    .bcmj_new_student_form{
        flex-wrap: wrap;
    }
    .form-group.middle_field,
    .form-group.triple_field{
        max-width: 100%;
    }
    .btn_student_new_register {        
        max-width: 100%;
    }
}